.container{
    animation: showItem forwards 2s ease-out;
    cursor:pointer;
    
}

.active{
    border: 2px solid red;
}

@keyframes showItem {
    0%{opacity: 0.1}
    100%{opacity: 1}
    
}


.container img{
    width: 30%;
    aspect-ratio: 3/2;
    object-fit: contain;
}