@font-face {
    font-family: "SFMedium";
    src: url("./SFProDisplay-Medium.woff2");
}
@font-face {
    font-family: "SFHeavy";
    src: url("./SFProDisplay-Heavy.woff2");
}
@font-face {
    font-family: "SFBold";
    src: url("./SFProDisplay-Bold.woff2");
}
@font-face {
    font-family: "SFsBold";
    src: url("./SFProDisplay-Semibold.woff2");
}
@font-face {
    font-family: "SFRegular";
    src: url("./SFProDisplay-Regular.woff2");
}










