.sideBarList li{
display:flex;
align-items:center;
font-size: 20px;
padding:10px 0px;
}

.sideBarList li:is(:active,:hover){
    background-color: rgba(209, 37, 37, 0.2);
    transition: all 0.3s ease;
}

.sideBarList li i{
    font-size: 25px;
    margin: 0 10px;
}